<mat-toolbar color="primary">
  <span>Consultorio De Testes</span>
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <button mat-flat-button>
        <a mat-button href="http://localhost:4200/medicos">Listar Medicos</a>
      </button>
      <button mat-flat-button>
        <a mat-button href="http://localhost:4200/consultas">Listar Consultas</a>
      </button>
      <button mat-flat-button>
        <a mat-button href="http://localhost:4200/cadastrar">Cadastrar Medicos</a>
      </button>
      <button mat-flat-button>
        <a mat-button href="http://localhost:4200/cadastrarconsulta">Cadastrar Consultas</a>
      </button>
    </div>
  </section>
</mat-toolbar>
<router-outlet></router-outlet>
